---
import { Image } from "astro:assets";

import PrimaryButton from "../common/PrimaryButton.astro";
import foreground from "../../assets/images/home-park.avif";
import background from "../../assets/images/sky-bg.avif";

const { title, subtitle } = Astro.props;
---

<section class="relative h-screen overflow-hidden">
  <div class="absolute inset-0">
    <Image
      src={background}
      alt="Sky background"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="absolute bottom-0 z-20">
    <Image src={foreground} alt="Park foreground" class="w-full object-cover" />
  </div>

  <div class="relative mx-auto max-w-4xl px-4 py-28 z-30">
    <div class="flex flex-col items-center justify-center gap-6 text-center">
      <h1 class="text-4xl md:text-7xl font-bold">{title}</h1>
      <p class="text-lg md:text-xl mb-4">{subtitle}</p>
      <PrimaryButton href="/contact" text="Contact us" />
    </div>
  </div>
</section>
