---
import { SITE } from "../config";

import BasicScripts from "../components/common/BasicScripts.astro";
import MetaTags from "../components/common/MetaTags.astro";

import "@fontsource/roboto";

const { title = SITE.title, description = SITE.description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags title={title} description={description} />
  </head>
  <body>
    <slot />
    <BasicScripts />
  </body>
</html>
